Repository danielvicentiu/s-s-m-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat: FCM push notifications + NotificationBell + Edge Function
  DOCS/routes-blueprint.md
  app/[locale]/dashboard/DashboardSidebar.tsx
  app/api/cron/iscir-alerts/route.ts
  app/api/notifications/disable/route.ts
  app/api/notifications/firebase-config/route.ts
  app/api/notifications/register-token/route.ts
  app/api/notifications/send/route.ts
  archive/RBAC_MIGRATION_COMPLETE.md
  archive/sso-setup-guide.md
  components/notifications/NotificationBell.tsx
  hooks/useNotifications.ts
  lib/firebase/firebase-client.ts
  package-lock.json
  package.json
  public/firebase-messaging-sw.js
  supabase/functions/send-push-notification/index.ts
  supabase/migrations/20260219_fcm_tokens.sql
Due: eslint --fix

feat: JWT app_metadata sync + capabilities table + RLS
  hooks/useCapabilities.ts
  lib/auth/checkCapability.ts
  supabase/functions/sync-user-metadata/index.ts
  supabase/migrations/20260219_capabilities.sql
  supabase/migrations/20260219_jwt_metadata_sync.sql
Due: eslint --fix

chore: save daily notes and iscir daily checks sql migration
  160226.txt
  DOCS/migration_iscir_daily_checks.sql
Due: none

feat: v0 landing page + pricing redesign
  app/[locale]/(public)/LandingClient.tsx
  app/[locale]/globals.css
  components/landing/cta-section.tsx
  components/landing/features.tsx
  components/landing/footer.tsx
  components/landing/header.tsx
  components/landing/hero.tsx
  components/landing/how-it-works.tsx
  components/landing/stats.tsx
  components/landing/trusted-by.tsx
  components/pricing/comparison-table.tsx
  components/pricing/faq.tsx
  components/pricing/plan-card.tsx
  components/pricing/pricing-section.tsx
  components/pricing/pricing-toggle.tsx
Due: eslint --fix, prettier --write

feat: v0 login UI + PIN rapid muncitori
  app/[locale]/globals.css
  app/[locale]/login/page.tsx
  app/api/auth/pin/route.ts
  app/api/auth/pin/set/route.ts
  components/auth/LeftPanel.tsx
  components/auth/MobileBanner.tsx
  components/auth/RightPanel.tsx
  components/auth/TabLogin.tsx
  components/auth/TabQuickAccess.tsx
  components/auth/TabRegister.tsx
  components/email-templates/AlerteConformitate.tsx
  lib/twilio-client.ts
  package-lock.json
  package.json
  supabase/migrations/20260219_pin_auth.sql
Due: eslint --fix, prettier --write

feat: v0 onboarding zero-friction wizard
  app/[locale]/onboarding/OnboardingClient.tsx
  app/[locale]/onboarding/page.tsx
  app/api/onboarding/anaf-lookup/route.ts
  app/api/onboarding/complete/route.ts
  app/api/onboarding/detect-caen/route.ts
  components/onboarding/ProgressBar.tsx
  components/onboarding/StepActivity.tsx
  components/onboarding/StepCompany.tsx
  components/onboarding/StepConfirm.tsx
  components/onboarding/StepEmployees.tsx
  components/onboarding/StepWrapper.tsx
  data/caen-activities.ts
  supabase/migrations/20260219_onboarding_tables.sql
Due: eslint --fix

feat: v0 email templates + Twilio alert escalation cascade
  app/api/cron/escalate-alerts/route.ts
  components/email-templates/AlerteConformitate.tsx
  components/email-templates/BunVenit.tsx
  components/email-templates/InstruireProgramata.tsx
  lib/twilio-client.ts
  package.json
  supabase/migrations/20260219_alerts_escalation.sql
  vercel.json
Due: eslint --fix

feat: v0 dashboard layout + AI assistant UI refresh
  app/[locale]/(manager)/dashboard/DashboardClient.tsx
  app/[locale]/(manager)/dashboard/ai-assistant/AIAssistantClient.tsx
  app/[locale]/(manager)/dashboard/layout.tsx
  components/assistant/ChatHeader.tsx
  components/assistant/ChatInput.tsx
  components/assistant/ConversationSidebar.tsx
  components/assistant/MessageBubble.tsx
  components/assistant/QuickActions.tsx
  components/dashboard-v0/ActiveModules.tsx
  components/dashboard-v0/ActivityTimeline.tsx
  components/dashboard-v0/ComplianceChart.tsx
  components/dashboard-v0/DashboardLayoutClient.tsx
  components/dashboard-v0/Sidebar.tsx
  components/dashboard-v0/StatCards.tsx
  components/dashboard-v0/Topbar.tsx
  components/dashboard-v0/UrgentActions.tsx
Due: eslint --fix

fix: rename activities prop to selected in StepActivity JSX
  app/[locale]/onboarding/OnboardingClient.tsx
Due: eslint --fix

fix: align onboarding insert with organizations schema
  app/api/onboarding/complete/route.ts
Due: eslint --fix

fix: make year optional + add smart search input for bulk import
  app/[locale]/admin/legal-bulk-import/LegalBulkImportClient.tsx
Due: eslint --fix

feat: PIN auth frontend + settings + middleware redirect
  .gitignore
  app/[locale]/(manager)/dashboard/DashboardSidebar.tsx
  app/[locale]/(manager)/dashboard/settings/pin/PinSettingsClient.tsx
  app/[locale]/(manager)/dashboard/settings/pin/page.tsx
  app/[locale]/pin/PinClient.tsx
  app/[locale]/pin/page.tsx
  middleware.ts
Due: eslint --fix

fix: smart search + optional year for bulk import
  app/[locale]/(manager)/dashboard/ai-kb/AIKBClient.tsx
  app/[locale]/(manager)/dashboard/ai-kb/page.tsx
  app/api/ai-kb/import/route.ts
  app/api/ai-kb/search/route.ts
Due: eslint --fix

feat: integrate Resend email templates (welcome, compliance-alert, training)
  app/api/email/send/route.ts
  components/email-templates/AlerteConformitate.tsx
  components/emails/index.ts
  package-lock.json
  package.json
Due: eslint --fix

feat: AI-KB module - import, search, dashboard UI
  app/[locale]/(manager)/dashboard/ai-kb/[id]/page.tsx
  components/dashboard-v0/Sidebar.tsx
Due: eslint --fix

feat: dynamic sidebar with module gate integration
  app/[locale]/(manager)/dashboard/DashboardSidebar.tsx
Due: eslint --fix

feat: OTP system - Twilio Verify + TOTP + device trust + provider adapter
  app/[locale]/(manager)/dashboard/settings/security/SecurityClient.tsx
  app/[locale]/(manager)/dashboard/settings/security/page.tsx
  app/[locale]/otp/OTPClient.tsx
  app/[locale]/otp/page.tsx
  app/api/otp/devices/route.ts
  app/api/otp/send/route.ts
  app/api/otp/totp/setup/route.ts
  app/api/otp/totp/verify/route.ts
  app/api/otp/verify/route.ts
  lib/otp/customOTPProvider.ts
  lib/otp/deviceTrust.ts
  lib/otp/providerFactory.ts
  lib/otp/totpProvider.ts
  lib/otp/twilioVerifyProvider.ts
  lib/otp/types.ts
  package-lock.json
  package.json
Due: eslint --fix

[DOCS] DOC1 v13.0 + DOC3 v8.0 + MASTER_DOMENII v1.0
  DOCS/DOC1_CONSOLIDARE_v13.0.md
  DOCS/DOC3_PLAN_EXECUTIE_v8.0.md
  DOCS/MASTER_DOMENII_v1.0.md
Due: none

fix: DOC1 OTP status LIVE + redact cleanup
  DOCS/DOC1_CONSOLIDARE_v13.0.md
Due: none

fix: restore DOC1 + OTP status LIVE
  DOCS/DOC1_CONSOLIDARE_v13.0.md
Due: none

feat: PL legal adapter - Sejm ELI API integration
  scripts/legal-adapters/.env.example
  scripts/legal-adapters/.gitignore
  scripts/legal-adapters/common/supabaseClient.ts
  scripts/legal-adapters/common/types.ts
  scripts/legal-adapters/package-lock.json
  scripts/legal-adapters/package.json
  scripts/legal-adapters/pl/adapter.ts
  scripts/legal-adapters/pl/bhp-acts.ts
  scripts/legal-adapters/pl/run.ts
  scripts/legal-adapters/run.ts
  scripts/legal-adapters/tsconfig.json
Due: eslint --fix

fix: correct UI component exports in index.ts
  components/ui/index.ts
Due: eslint --fix

fix: rename relatedTranslations to relatedTerms in glossar-ssm.ts
  lib/data/glossar-ssm.ts
Due: eslint --fix

fix: landing page i18n - replace hardcoded RO text with useTranslations for all 8 components
  components/landing/cta-section.tsx
  components/landing/features.tsx
  components/landing/footer.tsx
  components/landing/header.tsx
  components/landing/hero.tsx
  components/landing/how-it-works.tsx
  components/landing/stats.tsx
  components/landing/trusted-by.tsx
  messages/bg.json
  messages/de.json
  messages/en.json
  messages/hu.json
  messages/pl.json
  messages/ro.json
Due: eslint --fix

fix: i18n public pages - pricing, auth, onboarding translated to 6 languages
  app/[locale]/onboarding/OnboardingClient.tsx
  components/auth/LeftPanel.tsx
  components/auth/MobileBanner.tsx
  components/auth/RightPanel.tsx
  components/auth/TabLogin.tsx
  components/auth/TabQuickAccess.tsx
  components/auth/TabRegister.tsx
  components/pricing/comparison-table.tsx
  components/pricing/faq.tsx
  components/pricing/plan-card.tsx
  components/pricing/pricing-section.tsx
  components/pricing/pricing-toggle.tsx
  messages/bg.json
  messages/de.json
  messages/en.json
  messages/hu.json
  messages/pl.json
  messages/ro.json
Due: eslint --fix

fix: i18n dashboard skeleton - sidebar, overview, widgets translated to 6 languages
  app/[locale]/(manager)/dashboard/DashboardOverview.tsx
  app/[locale]/(manager)/dashboard/DashboardSidebar.tsx
  components/dashboard/BulkActionsBar.tsx
  components/dashboard/ExpirySummaryWidget.tsx
  components/dashboard/ObligationsWidget.tsx
  components/dashboard/OrgSelector.tsx
  components/dashboard/RecentActivityWidget.tsx
  messages/bg.json
  messages/de.json
  messages/en.json
  messages/hu.json
  messages/pl.json
  messages/ro.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: any of: *.css
