Repository danielvicentiu/s-s-m-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": ["eslint --fix"],
  "*.css": ["prettier --write"]
}

feat: add training sessions list page with filters and pagination
  app/[locale]/dashboard/training/TrainingSessionsClient.tsx
  app/[locale]/dashboard/training/page.tsx
Due: eslint --fix

feat: add landing page HeroSection component
  app/[locale]/globals.css
  components/landing/HeroSection.tsx
  components/ui/index.ts
Due: eslint --fix, prettier --write

feat: add ExpiringTimeline component for 30-day expiry visualization
  components/dashboard/ExpiringTimeline.tsx
  components/ui/index.ts
Due: eslint --fix

feat: add HowItWorks landing section with animated steps
  components/landing/HowItWorks.tsx
Due: eslint --fix

feat: add equipment and equipment_inspections migration
  supabase/migrations/20260213_equipment.sql
Due: none

fix: correct exports in components/ui/index.ts
  components/ui/index.ts
Due: eslint --fix

feat: add documents table migration with JSONB content and versioning
  supabase/migrations/005_documents.sql
Due: none

fix: correct type exports in components/ui/index.ts
  components/ui/index.ts
Due: eslint --fix

feat: add alerts table migration with severity levels and RLS
  supabase/migrations/006_alerts.sql
Due: none

feat: add QuickActions dashboard component
  components/dashboard/QuickActions.tsx
Due: eslint --fix

feat: add ComparisonTable component for landing page
  components/landing/ComparisonTable.tsx
Due: eslint --fix

fix: correct component exports in ui/index.ts
  components/ui/index.ts
Due: eslint --fix

feat: add ActivityFeed component for dashboard
  components/dashboard/ActivityFeed.tsx
Due: eslint --fix

feat: add notifications system database migration
  supabase/migrations/007_notifications.sql
Due: none

feat: add Integrations section component for landing page
  components/landing/Integrations.tsx
Due: eslint --fix

feat: add audit_log table with JSONB tracking and IP logging
  supabase/migrations/008_audit_log.sql
Due: none

feat: add NIS2 Directive requirements database
  lib/data/nis2-requirements.ts
Due: eslint --fix

feat: add organizations table migration with RLS and subscriptions
  supabase/migrations/009_organizations.sql
Due: none

fix: correct ui components exports in index.ts
  components/ui/index.ts
Due: eslint --fix

feat: add ModuleStatusCards component with 6 mini status cards
  components/dashboard/ModuleStatusCards.tsx
  components/ui/index.ts
Due: eslint --fix

feat: add SecuritySection component for landing page
  components/landing/SecuritySection.tsx
Due: eslint --fix

feat: extend Bulgarian translations to 808+ keys
  messages/bg.json
Due: none

feat: add comprehensive GDPR compliance checklist
  lib/data/gdpr-checklist.ts
Due: eslint --fix

feat: improve equipment list with QR codes and additional fields
  app/[locale]/dashboard/equipment/EquipmentClient.tsx
  components/ui/index.ts
Due: eslint --fix

feat: add triggers, views, and RPC functions for SSM platform
  supabase/migrations/010_triggers_views.sql
Due: none

fix: correct TypeScript exports in components/ui/index.ts
  components/ui/index.ts
Due: eslint --fix

feat: add MobilePreview landing section with phone mockup
  app/[locale]/globals.css
  components/landing/MobilePreview.tsx
Due: eslint --fix, prettier --write

feat: add UpcomingDeadlines dashboard component
  components/dashboard/UpcomingDeadlines.tsx
Due: eslint --fix

fix: correct DataTable type export in ui/index.ts
  components/ui/index.ts
Due: eslint --fix

feat: add environmental compliance requirements database
  lib/data/environmental-compliance.ts
Due: eslint --fix

feat: extend Hungarian translations with 470+ keys
  messages/hu.json
Due: none

feat: add comprehensive seed data for demo organization
  supabase/seed.sql
Due: none

feat: add PSI requirements database for Romania
  lib/data/psi-requirements.ts
Due: eslint --fix

feat: add obligations page with compliance tracking
  app/[locale]/dashboard/obligations/ObligationsClient.tsx
  app/[locale]/dashboard/obligations/page.tsx
  components/ui/index.ts
  lib/types.ts
Due: eslint --fix

feat: add CountrySelector component with 5 country cards
  components/landing/CountrySelector.tsx
  components/ui/index.ts
Due: eslint --fix

feat: extend German translations with comprehensive keys
  messages/de.json
Due: none

feat: add comprehensive database types
  lib/supabase/database.types.ts
Due: eslint --fix

feat: add risk assessment page with probability x severity matrix
  app/[locale]/dashboard/risk-assessment/RiskAssessmentClient.tsx
  app/[locale]/dashboard/risk-assessment/page.tsx
  components/ui/index.ts
  lib/types.ts
Due: eslint --fix

feat: add TrainingForm component for scheduling employee training sessions
  components/training/TrainingForm.tsx
  lib/types.ts
Due: eslint --fix

feat: revamp pricing page with 3-tier structure and enhanced features
  app/[locale]/pricing/page.tsx
  components/ui/index.ts
Due: eslint --fix
